<h2>All Showings</h2>




<ul>
  <% @showings.each do |showing| %>
    <li>
      <%= showing.time %>
    </li>
    <li>
      <%= showing.theater_id %>
    </li>
    <li>
      <%= showing.movie_id %>
      </li>
    <br>
  <% end %>
</ul>

<%= link_to 'Create New Movie', new_movie_path %>
