<h2>All Movies</h2>




<ul>
  <% @movies.each do |movie| %>
    <li>
      <%=link_to movie.name, movie_path(movie) %>
    </li>
    <br>
    <p>
      <%= movie.description %>
    </p>
    <br>
  <% end %>
</ul>

<%= link_to 'Create New Movie', new_movie_path %>
