<h3>Available Imax screenings in your area!</h3>

<% Screen.imax.each do |screen| %>
  <h5><%= screen.theater.name %><br></h5>
  <p><% screen.theater.showings.each do |showing| %>
    <%= showing.movie.name %>
      Showing Day - <%= showing.time.strftime("%b %d  - %Y") %>
      Showing Time - <%= showing.time.strftime("%I:%M %p") %><br>
  <% end %></p>
<% end %>
