<h1>Hello there, <%= @current_user.name %>!</h1>

<p> Welcome to Online Theater Manager. Your one-stop-shop for adding movies and listings showing times at any of our local theaters. Feel free to click on <%= link_to 'Theater', theaters_path %> or <%= link_to 'Movie', movies_path %> above to navigate back to our main indexs while on any page. Once your are finished, don't forget to log out!</p>

<br>


