<h2>Select a Theater near you!</h2>

<ul>
  <% @theaters.each do |theater| %>
    <li>
      <%= link_to theater.name, theater_showings_path(theater) %>
    </li>
    <p> <%= theater.location %> </p>
    <p> Number of Screen: <%= theater.screens.count %> </p>
    <% theater.screens.each  do |screen|%>
    <% if screen.screen_type == "Imax" %>
      <p> <%= link_to 'IMAX available at this theater!', screens_path %> </p>
      <% end %>
    <% end %>
    <br>
  <% end %>
</ul>



