<h2>All Theaters</h2>

<ul>
  <% @theaters.each do |theater| %>
    <li>
      <%= link_to theater.name, theater_path(theater) %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to 'Create New Theater', new_theater_path %>
<%= link_to 'Home', root_path %>
