<h2>Select a Theater near you!</h2>

<ul>
  <% @theaters.each do |theater| %>
    <li>
      <%= link_to theater.name, theater_showings_path(theater) %>
    </li>
    <p> <%= theater.location %> </p>
    <br>
  <% end %>
</ul>

<%= link_to 'Create New Theater', new_theater_path %>

