<h2>All Theaters</h2>

<ul>
  <% @theaters.each do |theater| %>
    <li>
      <%= theater.name %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to 'Create New Theater', new_theater_path %>
<%= link_to 'Home', controller: 'welcome' %>
