<h2>Select a Theater near you!</h2>


      <p> <%= link_to 'IMAX available at this area!', screens_path %> </p>

<ul>
  <% @theaters.each do |theater| %>
    <li>
      <%= link_to theater.name, theater_showings_path(theater) %>
    </li>
    <p> <%= theater.location %> </p>
    <p> Number of Screen: <%= theater.screens.count %> </p>

    <br>
  <% end %>
</ul>



